.add-task-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: #0056b3;
}
